img[src="images/ihsmarkit.svg"] {
  border: none !important;
  box-shadow: none !important;
  width: 25% !important;
}

img[src="images/fsharp256.png"], img[src="images/fsharp.org.png"] {
  border: none !important;
  box-shadow: none !important;
  width: 20% !important;
}

img[src="images/fsharp.png"], img[src="images/scala.png"] {
  border: none !important;
  box-shadow: none !important;
  width: 36px !important;
  margin: 0px !important;
}

img[src="images/fs_vs_sc.png"] {
  width: 40% !important;
}

img[class="use"] {
  border: none !important;
  box-shadow: none !important;
  margin: 10px !important;  
}